<div class="m-easySearch__wrapper">
  <h3>かんたん検索</h3>
  <%= link_to newer_path, class: 'm-easySearch__box' do %>
    <%= image_tag 'ic_nearby.svg',class: 'm-easySearch__img' %>
    <p class="m-easySearch__text">近くのお店</p>
  <% end %>
  <%= link_to nearby_path, class: 'm-easySearch__box' do %>
    <%= image_tag 'ic_nearby.svg',class: 'm-easySearch__img' %>
    <p class="m-easySearch__text">近くのお店</p>
  <% end %>
  <%= link_to anxious_path, class: 'm-easySearch__box' do %>
    <%= image_tag 'ic_nearby.svg',class: 'm-easySearch__img' %>
    <p class="m-easySearch__text">近くのお店</p>
  <% end %>
</div>
