<div class="p-search__wrapper">
  <h3>簡単検索</h3>
  <div class="m-btn__wrapper">
    <div class="m-btn__group">
      <%= link_to newer_path do %>
        <div class="m-btn__pacificBlue <%= "active" if action_name == "newer" %>">新しいお店</div>
      <% end %>
      <%= link_to nearby_path do %>
        <div class="m-btn__pacificBlue <%= "active" if action_name =="nearby" %>">近くのお店</div>
      <% end %>
      <%= link_to anxious_path do %>
        <div class="m-btn__pacificBlue <%= "active" if action_name == "anxious" %>">気になるお店</div>
      <% end %>
    </div>
  </div>

  <h3>詳細検索</h3>
  <h4>1. エリアを選択してください</h4>
  <div class="p-search__selectBoxWrapper p-search__selectBoxWrapperSub">
    <select name="area">
      <optgroup label="水沢">
        <option value="0">駅前エリア</option>
        <option value="1">商店街エリア</option>
        <option value="2">4号線エリア</option>
        <option value="3">アテルイエリア</option>
      </optgroup>
      <optgroup label="江刺">
        <option value="0">駅前エリア</option>
        <option value="1">商店街エリア</option>
        <option value="2">4号線エリア</option>
        <option value="3">アテルイエリア</option>
      </optgroup>
    </select>
  </div>
  <h4>2. 訪れる時間帯を選択してください</h4>
  <div class="p-search__selectBoxWrapper p-search__selectBoxWrapperSub">
    <select name="area">
      <option value="0">朝食（5:00 ~ 11:00 ）</option>
      <option value="1">昼食（11:00 ~ 15:00）</option>
      <option value="2">夕食（15:00 ~ 18:00）</option>
    </select>
  </div>

  <h4>3. ジャンルを選択してください</h4>
  <div class="p-search__selectBoxWrapper p-search__selectBoxWrapperSub">
    <select name="area">
      <% Genre.all.each.with_index(1) do |genre, idx| %>
        <option value="<%= idx %>"><%= genre.try(:name) %></option>
      <% end %>
    </select>
  </div>
  <div class="m-btn__wrapper">
    <div class="m-btn__group">
      <%= link_to anxious_path do %>
        <div class="m-btn__lightBlue" style="padding: 8px 32px;">検索</div>
      <% end %>
    </div>
  </div>
</div>
