<div class="m-btn__wrapper">
  <div class="m-btn__group">
    <%= link_to newer_path do %>
      <div class="m-btn__pacificBlue js-newer">新しいお店</div>
    <% end %>
    <%= link_to nearby_path do %>
      <div class="m-btn__pacificBlue p-tab__genreButton js-nearby">近くのお店</div>
    <% end %>
    <%= link_to anxious_path do %>
      <div class="m-btn__pacificBlue p-tab__genreButton js-anxious">気になるお店</div>
    <% end %>
  </div>
</div>

<!-- 新しいお店 -->
<div class="m-tab__wrapper tab_newer">
  <h2><%= @tab_title %></h2>
  <% @shops.each do |shop| %>
    <%= link_to controller: 'shops', action: 'show', id: shop do  %>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-auto">
            <% if shop.outside_image.attached? %>
              <%= image_tag shop.outside_image.variant(resize: '150x150^'), size: '150x150', crop: '150x150+0+0'%>
            <% else %>
              <img src="https://placehold.jp/150x150.png" />
            <% end %>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <h4 class="card-title"><%= shop.name %></h4>
              <p class="card-text">住所:<br /><%= shop.address %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
