<div class="m-btn__wrapper">
  <div class="m-btn__group">
    <%= link_to newer_path do %>
      <div class="m-btn__pacificBlue <%= "active" if action_name == "newer" %>">新しいお店</div>
    <% end %>
    <%= link_to nearby_path do %>
      <div class="m-btn__pacificBlue <%= "active" if action_name =="nearby" %>">近くのお店</div>
    <% end %>
    <%= link_to anxious_path do %>
      <div class="m-btn__pacificBlue <%= "active" if action_name == "anxious" %>">気になるお店</div>
    <% end %>
  </div>
</div>

<!-- 新しいお店 -->
<div class="m-tab__wrapper tab_newer">
  <h2><%= @tab_title %></h2>
  <% @shops.each do |shop| %>
    <%= link_to controller: 'shops', action: 'show', id: shop do  %>
      <div class="m-card">
        <div class="m-card__img">
          <% if shop.outside_image.attached? %>
            <%= image_tag shop.outside_image.variant(resize: '150x150^'), size: '150x150', crop: '150x150+0+0'%>
          <% else %>
            <img src="https://placehold.jp/150x150.png" />
          <% end %>
        </div>
        <div class="m-card__content">
          <!-- <p class="m-card__title"><%= shop.name %></h4> -->
          <p class="m-card__title"><%= truncate(shop.name, length: 18) %></p>
          <p class="m-card__address"><%= shop.address.gsub(/奥州市/, '') %></p>
          <p class="m-card__open_now" style="color: green;">営業中</p>
          <p class="m-card__genre">肉、魚、野菜</p>
          <p class="m-card__distance">ここから<%= shop.distance_from_current(39.144562, 141.139285)[0]["distance"].round(1) %>km</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
