<div class="p-shopIndex__wrapper js-shopIndex">
  <div class="p-shopIndex__swiperWrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="p-shopIndex__AreaImage" src="https://placehold.jp/450x250.png" />
        </div>
        <div class="swiper-slide">
          <img class="p-shopIndex__AreaImage" src="https://placehold.jp/450x250.png" />
        </div>
        <div class="swiper-slide">
          <img class="p-shopIndex__AreaImage" src="https://placehold.jp/450x250.png" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <!-- START Easy Search -->
  <div class="p-shopIndex__EasySearchWrapper">
    <h3 class="p-shopIndex__EasySearchTitle">検索</h3>
    <div class="p-shopIndex__EasySearchContent">
      <a class="p-shopIndex__EasySearchImageLink js-shopIndexCurrentPositionSearch">
        <div class="p-shopIndex__EasySearchImageContent js-shopIndexCurrentPositionSearch">
          <img class="p-shopIndex__EasySearchImage" src="https://placehold.jp/150x150" />
          <span class="p-shopIndex__EasySearchImageText">現在地から検索</span>
        </div>
      </a>
      <a href="/search" class="p-shopIndex__EasySearchImageLink">
        <div class="p-shopIndex__EasySearchImageContent">
          <img class="p-shopIndex__EasySearchImage" src="https://placehold.jp/150x150" />
          <span class="p-shopIndex__EasySearchImageText">詳細検索</span>
        </div>
      </a>
    </div>
  </div>
  <!-- END Easy Search -->

  <!-- START Campaign Search -->
  <!--
  <div class="p-shopIndex__CampaignWrapper">
    <h3 class="p-shopIndex__CampaignTitle">開催中のキャンペーン</h3>
    <div class="p-shopIndex__CampaignList">
      <div class="p-shopIndex__CampaignContent">
        <span class="p-shopIndex__CampaignDate">2022/06/01 ~ 2022/07/30</span>
        <span class="p-shopIndex__CampaignText">PayPayキャンペーン</span>
      </div>
      <div class="p-shopIndex__CampaignContent">
        <span class="p-shopIndex__CampaignDate">2022/06/01 ~ 2022/07/30</span>
        <span class="p-shopIndex__CampaignText">いわてGoToEat</span>
      </div>
      <div class="p-shopIndex__CampaignContent">
        <span class="p-shopIndex__CampaignDate">2022/06/01 ~ 2022/07/30</span>
        <span class="p-shopIndex__CampaignText">PayPayキャンペーン</span>
      </div>
      <div class="p-shopIndex__CampaignDetailLink">
        <%= link_to "キャンペーン一覧へ", campaigns_path %>
      </div>
    </div>
  </div>
  -->
  <!-- END Campaign Search -->
  <!-- START Area Search -->
  <div class="p-shopIndex__AreaWrapper">
    <h3 class="p-shopIndex__AreaTitle">エリアから探す</h3>
    <div class="p-shopIndex__AreaContent">
      <% Area.all.limit(6).order(:id).each do |area| %>
        <a href="/result?lat=<%= area.try(:latitude) %>&lng=<%= area.try(:longitude) %>" class="p-shopIndex__AreaImageContentLink">
          <div class="p-shopIndex__AreaImageContent">
            <img class="p-shopIndex__AreaImage" src="https://placehold.jp/150x150.png" />
            <span class="p-shopIndex__AreaImageText"><%= area.try(:name) %></span>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  <!-- END Area Search -->
  <!-- START Genre Search -->
  <div class="p-shopIndex__GenreWrapper">
    <h3 class="p-shopIndex__GenreTitle">ジャンルから探す</h3>
    <div class="p-shopIndex__GenreContent">
      <% Genre.all.limit(6).each do |genre| %>
        <a href="#" class="p-shopIndex__GenreImageContentLink">
          <div class="p-shopIndex__GenreImageContent">
            <img class="p-shopIndex__GenreImage" src="https://placehold.jp/150x150.png" />
            <span class="p-shopIndex__GenreImageText"><%= genre.name %></span>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  <!-- END Genre Search -->

</div>

<script>
  var Slider = new Swiper('.swiper', {
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  })
</script>
