<p id="notice"><%= notice %></p>

<div id="map"></div>

<% @shops.each do |shop| %>
  <%= shop.name %><br />
  <%= shop.address %><br />
  <%= image_tag shop.outside_image.variant(resize: '100') if shop.outside_image.attached? %>
  <%= image_tag shop.inside_image.variant(resize: '100') if shop.inside_image.attached? %>
  <% if shop.cooking_images.attached? %>
    <% shop.cooking_images.each do |img| %>
      <%= image_tag img.variant(resize: '100') %>
    <% end %>
  <% end %>
  <hr />
<% end %>

<style>
html { height: 100% }
body { height: 100% }
#map { height: 60%; width: 100%}
</style>

<script>
  let map;
  let markerLatLng;
  let marker = [];
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 39.13960294778968, lng: 141.14624841562465},
      zoom: 13
    });

    <% @shops.each_with_index do |s, i| %>
      markerLatLng = new google.maps.LatLng({
        lat: <%= s['latitude'] %>, lng: <%= s['longitude'] %>
      });
      marker[<%= i %>] = new google.maps.Marker({
        position: markerLatLng,
        map: map
      })
      focusShop(<%= i %>);
    <% end %>
  }
  function focusShop(i) {
    marker[i].addListener('click', function() {
      console.log(i)
    });
  }
</script>
<script async defer src="//maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("GOOGLE_MAP_API_KEY") %>&callback=initMap" type="text/javascript"></script>
