<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div id="map"></div>
<%= render 'tab' %>

<script type="text/javascript">
  // navigatorのオプション
  var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };

  var first_content_latlng = [
    <%= @shops.try(:first).try("latitude") || 39.144562 %>, <%= @shops.try(:first).try("longitude") || 141.139285 %>
  ]

  // マップの中心部を決める
  var map = L.map('map').setView(first_content_latlng, 15);
  // アイコンのディレクトリ
  L.Icon.Default.imagePath = "/assets/";
  // タイルの取得
  var osmUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  // コピーライト
  var osmAttrib = "Map data OpenstreetMap contributors";

  // レイヤーの指定
  L.tileLayer(osmUrl,{
    attribution: osmAttrib,
    maxZoom: 20,
  }).addTo(map);

  // お店一覧をプロット
  <% @shops.each do |shop| %>
    L.marker([<%= shop["latitude"] %>, <%= shop["longitude"] %> ]).addTo(map)
  <% end %>
</script>
