<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="p-shopDetail__wrapper">
  <div class="p-shopDetail__title">
    <h2><%= @shop.name %></h2>
    <p style="line-height: unset;" class="p-shopDetail__opening <%= @shop.opening? ? '-active' : '-passive'%>">（<%= opening_text(@shop) %>）</p>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <% @shop.image_list.each do |img| %>
        <div class="swiper-slide">
          <%= get_image_tag(img, '450', '250', 'p-shopIndex__AreaImage')%>
        </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="m-btn__group p-shopDetail__linkButtonWrapper">
    <% if @shop.try(:tabelog_url).present? %>
      <%= link_to '食べログ', shop.try(:tabelog_url), class: 'm-btn__pacificBlue', target: '_blank'%>
    <% end %>
    <% if @shop.try(:gnavi_url).present? %>
      <%= link_to 'ぐるなび', shop.try(:gnavi_url), class: 'm-btn__pacificBlue', target: '_blank'%>
    <% end %>
    <% if @shop.try(:latitude).present? && @shop.try(:longitude).present? %>
      <%= link_to 'Googleマップ', "//www.google.com/maps/search/?api=1&query=#{ @shop.latitude },#{ @shop.longitude }", class: "m-btn__pacificBlue" %>
    <% end %>
    <% if @shop.try(:tel).present? %>
      <%= link_to '電話する', "tel:#{ @shop.tel }", class: "m-btn__pacificBlue" %>
    <% end %>
  </div>

  <div class="p-shopDetail__infoWrapper" style="margin-bottom: 16px;">
    <h3 class="p-shopDetail__infoTitle">基本情報</h3>
    <table class="p-shopDetail__infoTable">
      <tbody>
        <tr>
          <td class="p-shopDetail__infoTableTd">住所</td>
          <td class="p-shopDetail__infoTableTd"><%= @shop.address %></td>
        </tr>
        <tr>
          <td class="p-shopDetail__infoTableTd">電話</td>
          <td class="p-shopDetail__infoTableTd"><%= @shop.tel.present? ? @shop.tel : "-" %></td>
        </tr>
        <tr>
          <td class="p-shopDetail__infoTableTd">ジャンル</td>
          <td class="p-shopDetail__infoTableTd"><%= shop_genre_names(@shop).present? ? shop_genre_names(@shop).join(', ') : "-" %></td>
        </tr>
      </tbody>
    </table>  
  </div>

  <div class="p-shopDetail__map">
    <h3 class="p-shopDetail__mapTitle">地図</h3>
    <div id="map"></div>
  </div>

  <% if @shop.group_business_hours.present? %>
    <div class="p-shopDetail__businessHourWrapper">
      <div class="p-shopDetail__businessHourTitle">
        <h3>営業時間</h3>
      </div>

      <table class="p-shopDetail__businessHourTable">
        <thead>
          <th>曜日</th>
          <th>営業時間</th>
          <th>備考</th>
        </thead>
        <tbody>
          <% @shop.group_business_hours.each do |key, hour| %>    
            <tr>
              <td><%= key %></td>
              <td>
                <% hour.each do |h| %>
                  <%= h.started_at.strftime("%H:%M") %> ~ <%= h.finished_at.strftime("%H:%M") %><br/>
                <% end%>
              </td>
              <td>
                <% hour.each do |h| %>
                  <%= h.remarks %><br/>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= link_to 'Back', :back %>
</div>

<script>
  var latlng = [<%= @shop.latitude %>, <%= @shop.longitude %>]
  var map = L.map('map').setView(latlng, 16);
  L.Icon.Default.imagePath = "/assets/";
  var osmUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  var osmAttrib = "Map data OpenstreetMap contributors";
  L.tileLayer(osmUrl,{
    attribution: osmAttrib,
    maxZoom: 19,
  }).addTo(map);
  L.marker(latlng).addTo(map);
</script>
<script>
  new Swiper('.swiper', {
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  })
</script>