<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<div id="map"></div>

<p>
  <strong>Outside Image</strong>
  <%= image_tag @shop.outside_image, size: '30x65' if @shop.outside_image.attached? %>
</p>

<p>
  <strong>Inside Image</strong>
  <%= image_tag @shop.inside_image, size: '100x200' if @shop.inside_image.attached? %>
</p>

<p>
  <strong>Cooking Image</strong>
  <% @shop.cooking_images.each do |food| %>
    <%= image_tag food.variant(resize: '300') %>
  <% end %>
</p>

<%= link_to 'Back', shops_path %>

<style>
html { height: 100% }
body { height: 100% }
#map { height: 60%; width: 100% }
</style>

<script>
  let shopLatLng = {
                     lat: <%= @shop['latitude'] || 39.13960294778968 %>,
                     lng: <%= @shop['longitude'] || 141.14624841562465 %>
                   }
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: shopLatLng,
      zoom: 13
    });

    markerLatLng = new google.maps.LatLng(shopLatLng);

    marker = new google.maps.Marker({
      position: markerLatLng,
      map: map
    });
  }
</script>
<script async defer src="//maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("GOOGLE_MAP_API_KEY") %>&callback=initMap" type="text/javascript"></script>
